<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/css/app.css}" rel="stylesheet">

  <!-- DataTablesのCSSを追加-->
  <link th:href="@{/webjars/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet">
  <link th:href="@{/webjars/datatables-buttons/css/buttons.dataTables.min.css}" rel="stylesheet">

  <!--  -->
  <link rel="stylesheet" th:href="@{/js/ol6.14.1-dist/ol.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/surveyor.css}" type="text/css">

  <title>Plateau-BLDG import task</title>
</head>
<body>

  <!-- サイドバーの配置 -->
  <div layout:fragment="sidebar">
  </div>

  <!-- コンテンツの配置 -->
  <div layout:fragment="content">
  </div>

  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

  <!-- DataTablesのJSを追加 -->
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/datatables/js/jquery.dataTables.min.js}"></script>
  <script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/buttons.html5.min.js}"></script>
  <script th:src="@{/webjars/datatables-buttons/js/buttons.print.min.js}"></script>
  <script th:src="@{/webjars/jszip/jszip.min.js}"></script></body>
  <script th:src="@{/js/jquery-2.1.1.min.js}"></script>
  <script th:src="@{/js/usertables.js}"></script>
  <script th:src="@{/js/ol6.14.1-dist/ol.js}"></script>
</body>
</html>
