#wrap {
    width: 100%;
    text-align: left;
    margin: 0 auto;
}  
#inner { 
    margin: 0 4px;
}
#mainWrap { width: 70%; float: right; }
#sideWrap { width: 25%; float: left; }
.clear { clear: both; }
.clear hr { display: none; }

img.qgisimage {
    width: 70%;
    height: 70%;
}
img#QGISlogo {
    width: 50%;
    height: 50%;
}
