<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>


  <!-- コンテンツの表示 -->
  <div layout:fragment="content">
    <main class="offcanvas-outside bg-light">
      <div class="container-fluid">

        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>

        <div class="row">
          <div class="col">

            <div class="card shadow">
              <div class="card-header">
                <h6 class="text-navy my-2">マッパー登録</h6>
              </div>
              <div class="card-body">
                <form th:action="@{/city/process}" th:object="${city}" method="post">
                  <div class="mb-3">
                    <label for="citycode">citycode</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{citycode}">
                    <div class="invalid-feedback" th:errors="*{citycode}">
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="cityname">cityname</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{cityname}">
                    <div class="invalid-feedback" th:errors="*{cityname}">
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="folder">folder</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{folder}">
                    <div class="invalid-feedback" th:errors="*{folder}">
                    </div>
                  </div>

                  <hr>
                  <button class="btn btn-navy col-4">
                    <i class="bi bi-pencil-square"></i>
                    <span class="text">保存</span>
                  </button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
  </div>

</body>
</html>
