<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar" th:replace="~{fragments/sidebar :: sidebar}">
  </div>


  <!-- コンテンツの表示 -->
  <div layout:fragment="content">
    <main class="offcanvas-outside bg-light">
      <div class="container-fluid">

        <!-- トグルボタン -->
        <div th:replace="~{fragments/sidebar :: toggler}">
        </div>

        <div class="row">
          <div class="col">

            <div class="card shadow">
              <div class="card-header">
                <h6 class="text-navy my-2">タスク登録</h6>
              </div>
              <div class="card-body">
                <form th:action="@{/task/process}" th:object="${task}" method="post" novalidate>
                  <input type="hidden" id="task" th:value="${task}" />
                  
                  <div class="mb-3">
                    <label for="currentId">currentId</label>
                    <input type="text" class="form-control" th:field="*{currentId}" disabled>
                    <input type="hidden" th:field="*{currentId}" th:value="*{currentId}" />
                  </div>

                  <div class="mb-3">
                    <label for="preId">preId</label>
                    <input type="text" class="form-control" th:field="*{preId}"  disabled>
                    <input type="hidden" th:field="*{preId}" th:value="*{preId}" />
                  </div>

                  <div class="mb-3">
                    <label for="citycode" th:text="#{citycode}"></label>
                    <input type="text" class="form-control" th:field="*{citycode}"  disabled>
                    <input type="hidden" th:field="*{citycode}" th:value="*{citycode}" />
                  </div>

                  <div class="mb-3">
                    <label for="meshcode" th:text="#{meshcode}"></label>
                    <input type="text" class="form-control" th:field="*{meshcode}"  disabled>
                    <input type="hidden" th:field="*{meshcode}" th:value="*{meshcode}" />
                  </div>

                  <div class="mb-3">
                    <label for="folder" th:text="#{status}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{status}"  disabled>
                    <input type="hidden" th:field="*{status}" th:value="*{status}" />
                    <div class="invalid-feedback" th:errors="*{status}">
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="username" th:text="#{username}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{username}"  readonly>
                    <div class="invalid-feedback" th:errors="*{username}">
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="operation" th:text="#{operation}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{operation}"  disabled>
                    <input type="hidden" th:field="*{operation}" th:value="*{operation}" />
                    <div class="invalid-feedback" th:errors="*{operation}">
                    </div>
                  </div>

                  <hr>

                  <p th:text="${error}"></p>
                  <p th:text="${message}"></p>

                  <a th:text="#{return}" th:href="@{/tasks?citycode={citycode}&meshcode={meshcode}(citycode=*{citycode},meshcode=*{meshcode})}" class="btn btn-navy">
                  </a>
            
                  <button class="btn btn-navy col-4">
                    <i class="bi bi-pencil-square" th:text="#{reserve}"></i>
                  </button>

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>
  </div>
  <script th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
