<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8" th:remove="tag">
</head>
<body>

  <!-- サイドバーの表示 -->
  <div layout:fragment="sidebar"
    th:replace="~{fragments/sidebar :: sidebar}">
  </div>

  <!-- コンテンツの表示 -->
  <main layout:fragment="content"
    class="offcanvas-outside bg-light">
    <div class="container-fluid">
      <!-- トグルボタン -->
      <div th:replace="~{fragments/sidebar :: toggler}">
      </div>

      <div class="row">
        <div class="col">

          <div class="card shadow">
            <div class="card-header">
              <h6 class="text-navy my-2">
                ログイン情報
              </h6>
            </div>
            <div class="card-body table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>ログインユーザ名</th>
                    <th>ユーザ権限</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td th:text="${username}"></td>
                    <td th:text="${role}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>

</body>
</html>
